[submodule "chef-repo/cookbooks/mysql"]
	path = chef-repo/cookbooks/mysql
	url = https://github.com/chef-cookbooks/mysql.git
[submodule "chef-repo/cookbooks/smf"]
	path = chef-repo/cookbooks/smf
	url = https://github.com/livinginthepast/smf.git
[submodule "chef-repo/cookbooks/rbac"]
	path = chef-repo/cookbooks/rbac
	url = https://github.com/livinginthepast/rbac
[submodule "chef-repo/cookbooks/yum"]
	path = chef-repo/cookbooks/yum
	url = https://github.com/chef-cookbooks/yum-mysql-community.git
